*{
  margin: 0;
  padding: 0;
  
}

body{
  position: fixed;
  display: fixed;
  min-height:100vh;
  background: url("/Images/background.png") no-repeat;
  background-size: cover;
}

.icon img{
  position: absolute;
  margin-left: 180px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: 5px;
  
}

.home{
  position: absolute;
  display: inline;
  color: greenyellow;
  left: 20px;
  top: 20px;
  text-decoration: none;
  font-weight: bolder;
  font-size: 20px;
}




.contact{
  position: absolute;
  display: inline;
  color: greenyellow;
  left: 100px;
  top: 20px;
  text-decoration: none;
  font-weight: bolder;
  font-size: 20px;
}

.details{
  position: absolute;
  display: inline;
  color: greenyellow;
  left: 260px;
  text-decoration: none;
  font-weight: bolder;
  top: 20px;
  font-size: 20px;
}


.welcome{
  position: relative;
  display: inline;
  text-decoration: none;
  color: red;
  top: 80px;
  left: 60px;
  font-size: 4em;
}

.our{
  position: absolute;
  display: inline;
  text-decoration: none;
  color: red;
  top: 180px;
  left: 250px;
  font-size: 1.5em;
  
}

.first{
  
  text-indent: 80px ;
  white-space: pre-line;
  text-align: justify;
  margin-top: 150px;
  color: springgreen;
  
}

.second {

  text-indent: 80px;
  white-space: pre-line;
  text-align: justify;
  margin-top: 20px;
  color: springgreen;

}
.third {

  text-indent: 80px;
  white-space: pre-line;
  text-align: justify;
  margin-top: 25px;
  color: springgreen;

}
.forth {

  text-indent: 80px;
  white-space: pre-line;
  text-align: justify;
  margin-top: 20px;
  color: springgreen;

}



.button{
  text-decoration: none;
  width: 70px;
  height: 30px;
  background: transparent;
  border: 0px solid white;
  outline: none;
  border-radius: 900px;
  cursor: pointer;
  font-size: 1.3em;
  color: greenyellow;
  font-weight: 900;
  margin-left: 340px;
  transition: .5s;
  margin-top: 13px;
}

.button:hover{
  background: greenyellow;
  color: white;
}




